@model IEnumerable<RentU.Models.Rcontactu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<link href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" />

<div class="col-md-12">
    <div class="page-header-title">
        <h5 class="m-b-10"> Messages </h5>
    </div>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard"><i class="feather icon-home"></i></a></li>
        <li class="breadcrumb-item"><a href="javascript:">Contact Us</a></li>
    </ul>
</div>
<hr />
<div class="panel panel-default">

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="example">
                <thead>
                    <tr>
                        <th>Name </th>
                        <th>Email</th>
                        <th> Message </th>
                        <th>  </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Message)
                            </td>
                            <td>
                                <a href="mailto:@item.Email" class="btn btn-success" style="font-size:15px; padding:5px"><i class="fa fa-pencil"></i>Reply</a>|
                                <a asp-action="Delete" asp-route-id="@item.Contid" class="btn btn-danger" style="font-size:15px; padding:5px"><i class="fa fa-pencil"></i>Delete</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
